<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pathfinding Visualizer</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header>
        <div class="firstpart">
            <img id="logo-image" src="../static/x-image.png" alt="Logo"/>
            <div class="secondpart">
                <p id="logo">PathFinding Visualizer</p>
                <label id="animate">
                    <input type="checkbox" id="AnimateCheckbox" />
                    Visualize Maze Generation
                </label>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Algorithms</button>
            <div class="options">
                <button id="DFSButton">Depth-first Search</button>
                <button id="BFSButton">Breadth-first Search</button>
                <button id="AstarButton">A* Search</button>
                <button id="DijkstraButton">Dijkstra's Algorithm</button>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Mazes</button>
            <div class="options">
                <button id="KruskalMazeButton">Kruskal's Maze</button>
                <button id="VerticalMazeButton">Vertical Maze</button>
                <button id="HorizontalMazeButton">Horizontal Maze</button>
                <button id="RandomMazeButton">Random Maze</button>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Clear</button>
            <div class="options">
                <button id="clearPathButton">Clear Path</button>
                <button id="clearBoardButton">Clear Board</button>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn" id="speed">Speed</button>
            <div class="options">
                <button id="fastBtn">Fast</button>
                <button id="averageBtn">Average</button>
                <button id="slowBtn">Slow</button>
            </div>
        </div>
    </header>
    <main>
        <div class="info-panel"><b>Welcome to the Pathfinding Visualizer! Feel free to drag the Start and End cells to
                customize your maze.</b></div>
        <div class="grid-container" id="grid"></div>
    </main>
    <div id="toast-container"></div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="../static/scripts/InitialGrid.js"></script>
    <script src="../static/scripts/Speed.js"></script>

    <script type="module" src="../static/scripts/terrain/KruskalMaze.js"></script>
    <script type="module" src="../static/scripts/terrain/VerticalMaze.js"></script>
    <script type="module" src="../static/scripts/terrain/HorizontalMaze.js"></script>
    <script type="module" src="../static/scripts/terrain/RandomMaze.js"></script>

    <script src="../static/scripts/Clear.js"></script>

    <script type="module" src="../static/scripts/path_find/DFS.js"></script>
    <script type="module" src="../static/scripts/path_find/BFS.js"></script>
    <script type="module" src="../static/scripts/path_find/Astar.js"></script>
    <script type="module" src="../static/scripts/path_find/Dijkstra.js"></script>


</body>

</html>